{
  "root": true,
  "extends": [
    "@react-native-community",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-console": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.test.{ts,tsx}", ".jest/setup.tsx"],
      "env": {"jest/globals": true},
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "rules": {
        "react/react-in-jsx-scope": "off"
      }
    }
  ]
}