<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1488424464-b5htih7pd1sdqv19vhkp0snrksmfufdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1488424464-b5htih7pd1sdqv19vhkp0snrksmfufdi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1488424464-f15mv2qkqnegnln3arjikcr1qkc9l7hm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7YAKoV8-tNGDTIofTiR8JbQZ9_HN_U4o</string>
	<key>GCM_SENDER_ID</key>
	<string>1488424464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ehcorrea.mydrugsapp</string>
	<key>PROJECT_ID</key>
	<string>mydrugs-e402e</string>
	<key>STORAGE_BUCKET</key>
	<string>mydrugs-e402e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1488424464:ios:66a039677a48d7e6ebc495</string>
</dict>
</plist>