name: Bump version

on: [workflow_call, workflow_dispatch]
  
permissions: write-all
      
jobs:
  bump:
    runs-on: ubuntu-latest

    steps:
    - name: Get release
      uses: bruceadams/get-release@v1.3.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
